---
import type { CollectionEntry } from "astro:content";
import { assetUrl, withBase } from "../../lib/site";

interface Props {
  initiative: CollectionEntry<"initiatives">;
}

const { initiative } = Astro.props;
---

<article class="card">
  <img
    class="card__media"
    src={assetUrl(initiative.data.coverImage)}
    alt={initiative.data.title}
    loading="lazy"
    width="640"
    height="420"
  />
  <div class="card__body">
    <div class="card__meta">
      <span>{initiative.data.focusArea}</span>
      <span>{initiative.data.publicStatus}</span>
    </div>
    <h3>{initiative.data.title}</h3>
    <p>{initiative.data.oneLine}</p>
    <a class="text-link" href={withBase(`/initiatives/${initiative.slug}`)}>Explore initiative</a>
  </div>
</article>
